* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:courier;
}

.ColorPalette {
    color1: #ff3300;
    color2: #99ff66;
    color3: #003399;
}

body {
    height:100vh;
    width:100vw;

    background-color:#003399;
    

    display:flex;
    justify-content:center;
    align-items:center;
}

/* 512x384 */

#game-container {
    position:relative;
    
    height:384px;
    width:512px;

    background-color: ;
    border-radius:4px;
    box-shadow:0px 0px 10px 2px inset blue;
    overflow:hidden;
}

.snake {
    position:absolute;

    height:16px;
    width:16px;

    background-color:#99ff66;

    border:4px outset hsl(100 100% 44% / 1);
    border-radius:4px;
}

.tail {
    position:absolute;

    height:16px;
    width:16px;

    background-color:#55ff00;

    border:4px outset hsl(100 100% 30% / 1);
    border-radius:4px;
}

.food{
    position:absolute;

    height:16px;
    width:16px;

    background-color:#ff3300;

    border:5px outset #e62e00;
    border-radius:5px;
}

p {
    position:absolute;
    top:0%;
    color:#55ff00;
    font-size:150%;
    text-shadow:black 1px 1px 2.5px;
}